<body>

  <form (ngSubmit)="enviarFormulario()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <label for="correo" class="form-label">Correo</label>
      <input type="email" class="form-control" id="correo" [(ngModel)]="correo" name="correo" required>
    </div>
    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input type="tel" class="form-control" id="telefono" [(ngModel)]="telefono" name="telefono" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar 2</button>
  </form>

</body>
